

 @media screen and (max-device-width: 750px) {
   
  
   .wrapper{
       grid-template-columns:  1fr;
   }
   .air-card{
       width: 100vw;
   }
  }





body {
    color: black;
    margin:auto;
    font-family: 'Open Sans', sans-serif;;
    
}


.site-wrap{
    display: grid;
    justify-content: center;
    margin: 7vw;
    grid-gap:10vh;
}

/*Header*/
.header-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.amper {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    
   
}
.big-header {
    font-size: 4vw;
    font-weight: 300;
    margin-bottom: 0;
    margin-top:1px;
}
.header-wrap p {
    margin-right: 20px;
    margin-top: 0;
}

.header-wrap img{
    max-width: 110%;
    
}
/*Searchbar*/
.searchbar{
    text-align: center;
    
}

#input {
    border:10px  solid  #1ec49ab7;
    padding:2vw;
    border-right:none;
    min-width: 70vw;
    border-radius:15px
}

#submit{
    border: 10px solid #1ec49ab7;
    background-color: white;
    color: #01d18f98;
    margin:0;
    padding: 2vw;
    border-left:none;
    border-radius:15px;
   
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}


.air-card {
    display: flex;
    max-width: 30vw;
    max-height: 700px;
  
    color:white;
    flex-direction: column;
    justify-content: space-between;
    padding:1vw;
    background: linear-gradient(0deg, rgba(255,143,15,1) 0%, rgba(252,185,49,1) 100%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.562);
  
    
}
.card-header{
    display: flex;
    justify-content: space-between;
 
}

.card-header i {
    font-size: 2vw;
    padding: 5px;
}

.pollution-wrap{
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-top:1px solid rgba(255, 255, 255, 0.418);
   border-radius: 20px;

}
.pollution-box {
   padding: 3px;
    
}
.pollution-detail{
    color: rgba(255, 255, 255, 0.664);
}
.aqi-description{
    margin:auto;
    padding: 5vw;
    font-size:3vw;
   
}